<h1 class="title">
  Welcome to the playground!
</h1>

<p class="content">
  This page contains many of the games developed throughout my game
  development learning journey. Just
  <a href="#" (click)="onStartPlaying($event)" class="link">start playing</a>
  or look around in the
  <a href="https://github.com/ksmai/html5-games" target="_blank" class="link">
    Github repository
  </a>
  .
</p>

<button
  mat-raised-button
  type="button"
  class="get-started-button"
  color="accent"
  (click)="onStartPlaying($event)"
>Show me the games</button>
